{{ define "main" }} {{ if not .IsHome}}
<h1>{{ if eq .Kind "term"}}#{{end}}{{ .Title }}</h1>
{{ end }} {{if .Content}} {{ .Content }} {{ end }} {{ range
.Pages.ByPublishDate.Reverse }}
<article>
  <a href="{{ .RelPermalink }}" class="title"><h2>{{ .Title }}</h2></a>
  {{ partial "article/info.html" . }} {{ .Summary}}<a href="{{ .RelPermalink }}"
    >[read more]</a
  >
</article>
{{ end }}

<style>
  article {
    padding: 1rem 0;
  }
  article .title {
    text-decoration: none;
  }
  article + article {
    border-top: 1px solid gainsboro;
  }
</style>
{{ end }}
