{{ define "main" }}

<h1 style="margin-bottom: 0.5rem">{{ .Title }}</h1>
{{ partial "article/info.html" . }} {{ .Content }}
<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  "
>
  <script
    type="text/javascript"
    src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
    data-name="bmc-button"
    data-slug="valeriavg"
    data-color="#ffffff"
    data-emoji=""
    data-font="Cookie"
    data-text="Buy me a coffee"
    data-outline-color="#000000"
    data-font-color="#000000"
    data-coffee-color="#FFDD00"
  ></script>
</div>
{{ end }}
