{{ define "main" }}

<h1 style="margin-bottom: 0.5rem">{{ .Title }}</h1>
{{ partial "article/info.html" . }} {{ .Content }}
<section class="links">
  {{ if ne .Params.dev_to ""}}
  <a
    href="{{.Params.dev_to}}#comments"
    target="_blank"
    rel="noopener noreferrer"
    class="dev-to-link"
    >Discuss on Dev</a
  >
  {{ end }}

  <script
    type="text/javascript"
    src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
    data-name="bmc-button"
    data-slug="valeriavg"
    data-color="#ffffff"
    data-emoji=""
    data-font="Cookie"
    data-text="Buy me a coffee"
    data-outline-color="#000000"
    data-font-color="#000000"
    data-coffee-color="#FFDD00"
  ></script>
</section>
{{ end }}
