<section class="info">
  <span class="tags">
    {{ range $idx, $tag := .Params.tags}} {{ $href := print (relURL "tags/")
    (urlize .) }} {{if gt $idx 0}}, {{end}}
    <a class="tag" href="{{ $href }}">#{{ $tag }}</a>
    {{ end }}
  </span>

  <span class="date">
    {{ $dateTime := .PublishDate.Format "2006-01-02" }} {{ $dateFormat :=
    .Site.Params.dateFormat | default "Jan 2, 2006" }}
    <time datetime="{{ $dateTime }}"
      >{{ .PublishDate.Format $dateFormat }}</time
    >
  </span>
</section>
